In [52]:
import psycopg2
# from sqlalchemy import create_engine
import pandas as pd
import yaml
from yaml.loader import SafeLoader

# Open the file and load the file
with open('C:/Users/idris/Desktop/ENSAE/S1_3A/Cloud_Computing/EnergyBot/chatbot/config_db.yml') as f:
    credentials = yaml.load(f, Loader=SafeLoader)

conn = psycopg2.connect(database=credentials["database"],
                        host=credentials["host"],
                        user=credentials["user"],
                        password=credentials["password"],
                        port=credentials["port"])

In [53]:
cursor = conn.cursor()

In [ ]:
'''query = """INSERT INTO customer_data ("CIVILITY", "FIRSTNAME", "LASTNAME", \
    "ZIPCODE", "EMAIL", "BIRTHYEAR", "ECOLO_SCORE", "WORKDAY_OCCUPATION", "MAX_POWER", "CONS_PROFILE") \
    VALUES ('MR', 'Lucas', 'Saban', '91120', 'lucas.saban@outlook.fr', \
    '1998', 5, 'False', 6, 'RES2')"""
cursor.execute(query)
conn.commit()
'''

In [54]:
df = pd.read_sql('select * from customer_data', con=conn)
df

C:\Users\idris\AppData\Local\Temp\ipykernel_3488\149451697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from customer_data', con=conn)

,CUSTOMER_ID,CIVILITY,FIRSTNAME,LASTNAME,ZIPCODE,EMAIL,BIRTHYEAR,ECOLO_SCORE,WORKDAY_OCCUPATION,MAX_POWER,CONS_PROFILE,Q_INHABITED_AREA,Q_HOUSING_KIND,Q_HOUSING_OUTLINE,Q_NB_INHABITANT
0,1cba9985-69f0-4494-920e-fbb1a88d991e,MR,Idrissa,Konkobo,91120,idrissa.konkobo@ensae.fr,1998,4,True,12,RES2,19.0,apartment,single_floor,1.0
1,2dffcac6-fde3-4636-8ba3-4ca6161e30e5,MR,Lucas,Saban,91120,lucas.saban@ensae.fr,1998,5,True,6,RES2,NaN,None,None,NaN
2,4f37b35d-73a2-4ab1-bb52-5cea48d1f9ae,MR,Lucas,Saban,91120,lucas.saban@GMAIL.fr,1998,5,True,6,RES2,NaN,None,None,NaN
3,78b909e5-24ff-4b56-9f6d-d5ee7da54a52,MR,Lucas,Saban,91120,lucas.saban@outlook.fr,1998,5,False,6,RES2,NaN,None,None,NaN
4,b25e9488-037b-4736-aae4-effdac1ef29b,MME,Sorelle,Methafe,01001,sorelleloveline.methafe@ensae.fr,1998,5,False,15,RES11,NaN,None,None,NaN

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CUSTOMER_ID         5 non-null      object
 1   CIVILITY            5 non-null      object
 2   FIRSTNAME           5 non-null      object
 3   LASTNAME            5 non-null      object
 4   ZIPCODE             5 non-null      object
 5   EMAIL               5 non-null      object
 6   BIRTHYEAR           5 non-null      int64
 7   ECOLO_SCORE         5 non-null      int64
 8   WORKDAY_OCCUPATION  5 non-null      bool
 9   MAX_POWER           5 non-null      int64
 10  CONS_PROFILE        5 non-null      object
 11  Q_INHABITED_AREA    1 non-null      float64
 12  Q_HOUSING_KIND      1 non-null      object
 13  Q_HOUSING_OUTLINE   1 non-null      object
 14  Q_NB_INHABITANT     1 non-null      float64
dtypes: bool(1), float64(2), int64(3), object(9)
memory usage: 693.0+ bytes

In [56]:
'01001' in pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip")["COM"].unique()

True