In [32]:
import psycopg2
# from sqlalchemy import create_engine
import pandas as pd
import yaml
from yaml.loader import SafeLoader

# Open the file and load the file
with open('C:/Users/idris/Desktop/ENSAE/S1_3A/Cloud_Computing/EnergyBot/chatbot/config_db.yml') as f:
    credentials = yaml.load(f, Loader=SafeLoader)

conn = psycopg2.connect(database=credentials["database"],
                        host=credentials["host"],
                        user=credentials["user"],
                        password=credentials["password"],
                        port=credentials["port"])

In [33]:
cursor = conn.cursor()

In [34]:
query = """INSERT INTO customer_data ("CIVILITY", "FIRSTNAME", "LASTNAME", \
    "ZIPCODE", "EMAIL", "BIRTHYEAR", "ECOLO_SCORE", "WORKDAY_OCCUPATION", "MAX_POWER", "CONS_PROFILE") \
    VALUES ('MR', 'Lucas', 'Saban', '91120', 'lucas.saban@ensae.fr', \
    '1998', 5, True, 6, 'RES2')"""
cursor.execute(query)
conn.commit()

UniqueViolation: duplicate key value violates unique constraint "UNIQUE_EMAIL"
DETAIL:  Key ("EMAIL")=(lucas.saban@ensae.fr) already exists.

In [ ]:
df = pd.read_sql('select * from customer_data', con=conn)
df

C:\Users\idris\AppData\Local\Temp\ipykernel_3488\149451697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from customer_data', con=conn)

,CUSTOMER_ID,CIVILITY,FIRSTNAME,LASTNAME,ZIPCODE,EMAIL,BIRTHYEAR,ECOLO_SCORE,WORKDAY_OCCUPATION,MAX_POWER,CONS_PROFILE,Q_INHABITED_AREA,Q_HOUSING_KIND,Q_HOUSING_OUTLINE,Q_NB_INHABITANT
0,1cba9985-69f0-4494-920e-fbb1a88d991e,MR,Idrissa,Konkobo,91120,idrissa.konkobo@ensae.fr,1998,4,True,12,RES2,19.0,apartment,single_floor,1.0
1,2dffcac6-fde3-4636-8ba3-4ca6161e30e5,MR,Lucas,Saban,91120,lucas.saban@ensae.fr,1998,5,True,6,RES2,NaN,None,None,NaN

In [ ]:
'01001' in pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip")["COM"].unique()

True