In [11]:
import psycopg2
# from sqlalchemy import create_engine
import pandas as pd
import yaml
from datetime import datetime
from yaml.loader import SafeLoader
import requests
import uuid, shortuuid

# Open the file and load the file
with open('C:/Users/idris/Desktop/ENSAE/S1_3A/Cloud_Computing/EnergyBot/chatbot/config_db.yml') as f:
    credentials = yaml.load(f, Loader=SafeLoader)

conn = psycopg2.connect(database=credentials["database"],
                        host=credentials["host"],
                        user=credentials["user"],
                        password=credentials["password"],
                        port=credentials["port"])

cursor = conn.cursor()

In [12]:
datetime.now().strftime("%Y-%m-%d")

'2022-12-27'

In [13]:
'''
query = """DELETE FROM customer_data;"""
cursor.execute(query)
conn.commit()
'''

'\nquery = """DELETE FROM customer_data;"""\ncursor.execute(query)\nconn.commit()\n'

In [14]:
df = pd.read_sql('select * from customer_data', con=conn)
df

C:\Users\idris\AppData\Local\Temp\ipykernel_20424\149451697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from customer_data', con=conn)

,CUSTOMER_ID,CIVILITY,FIRSTNAME,LASTNAME,ZIPCODE,EMAIL,BIRTHYEAR,ECOLO_SCORE,WORKDAY_OCCUPATION,MAX_POWER,CONS_PROFILE,Q_INHABITED_AREA,Q_HOUSING_KIND,Q_HOUSING_OUTLINE,Q_NB_INHABITANT,REQUEST_DATE
0,0d8a01a7-c1d4-43bc-b895-7442fec8b35d,MR,Idrissa,KONKOBO,97615,ikonkobo@ensae.fr,1998,4,True,12,RES2,None,None,None,None,2022-11-26
1,176f6e30-eede-452d-b242-7600d1ce9bde,MME,Sorelle,METHAFE,97615,smethafe@ensae.fr,1998,4,True,15,RES11,None,None,None,None,2022-12-09
2,8e438836-be89-40f8-b2c9-c6fb0277de65,MR,Lucas,Saban,97615,lucas.saban@ensae.fr,1998,4,True,12,RES2,None,None,None,None,2022-12-26

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CUSTOMER_ID         3 non-null      object
 1   CIVILITY            3 non-null      object
 2   FIRSTNAME           3 non-null      object
 3   LASTNAME            3 non-null      object
 4   ZIPCODE             3 non-null      object
 5   EMAIL               3 non-null      object
 6   BIRTHYEAR           3 non-null      int64
 7   ECOLO_SCORE         3 non-null      int64
 8   WORKDAY_OCCUPATION  3 non-null      bool
 9   MAX_POWER           3 non-null      int64
 10  CONS_PROFILE        3 non-null      object
 11  Q_INHABITED_AREA    0 non-null      object
 12  Q_HOUSING_KIND      0 non-null      object
 13  Q_HOUSING_OUTLINE   0 non-null      object
 14  Q_NB_INHABITANT     0 non-null      object
 15  REQUEST_DATE        3 non-null      object
dtypes: bool(1), int64(3), object(12)
memory usage: 491.0+ bytes

In [16]:
#pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip")["COM"]