In [29]:
import psycopg2
# from sqlalchemy import create_engine
import pandas as pd
import yaml
from datetime import datetime
from yaml.loader import SafeLoader

# Open the file and load the file
with open('C:/Users/idris/Desktop/ENSAE/S1_3A/Cloud_Computing/EnergyBot/chatbot/config_db.yml') as f:
    credentials = yaml.load(f, Loader=SafeLoader)

conn = psycopg2.connect(database=credentials["database"],
                        host=credentials["host"],
                        user=credentials["user"],
                        password=credentials["password"],
                        port=credentials["port"])

cursor = conn.cursor()

In [30]:
datetime.now().strftime("%Y-%m-%d")

'2022-11-26'

In [31]:
'''
query = """DELETE FROM customer_data;"""
cursor.execute(query)
conn.commit()
'''

'\nquery = """DELETE FROM customer_data;"""\ncursor.execute(query)\nconn.commit()\n'

In [32]:
df = pd.read_sql('select * from customer_data', con=conn)
df

C:\Users\idris\AppData\Local\Temp\ipykernel_8816\149451697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from customer_data', con=conn)

,CUSTOMER_ID,CIVILITY,FIRSTNAME,LASTNAME,ZIPCODE,EMAIL,BIRTHYEAR,ECOLO_SCORE,WORKDAY_OCCUPATION,MAX_POWER,CONS_PROFILE,Q_INHABITED_AREA,Q_HOUSING_KIND,Q_HOUSING_OUTLINE,Q_NB_INHABITANT,REQUEST_DATE
0,0d8a01a7-c1d4-43bc-b895-7442fec8b35d,MR,Idrissa,KONKOBO,97615,ikonkobo@ensae.fr,1998,4,True,12,RES2,None,None,None,None,2022-11-26

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CUSTOMER_ID         1 non-null      object
 1   CIVILITY            1 non-null      object
 2   FIRSTNAME           1 non-null      object
 3   LASTNAME            1 non-null      object
 4   ZIPCODE             1 non-null      object
 5   EMAIL               1 non-null      object
 6   BIRTHYEAR           1 non-null      int64
 7   ECOLO_SCORE         1 non-null      int64
 8   WORKDAY_OCCUPATION  1 non-null      bool
 9   MAX_POWER           1 non-null      int64
 10  CONS_PROFILE        1 non-null      object
 11  Q_INHABITED_AREA    0 non-null      object
 12  Q_HOUSING_KIND      0 non-null      object
 13  Q_HOUSING_OUTLINE   0 non-null      object
 14  Q_NB_INHABITANT     0 non-null      object
 15  REQUEST_DATE        1 non-null      object
dtypes: bool(1), int64(3), object(12)
memory usage: 249.0+ bytes

In [33]:
#pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip")["COM"]