In [7]:
import pandas as pd

from tqdm import tqdm

In [12]:
df = pd.read_csv('../data/SE2018.csv', chunksize=1e6, parse_dates=[4], infer_datetime_format=True)

In [13]:
for chunk in tqdm(df, total = 240*500*365) :
    try : 
        n_df = pd.concat([n_df,chunk.groupby(by='number_sta').sum(numeric_only=True)], ignore_index=True)

    except:
        n_df = chunk.groupby(by='number_sta').sum(numeric_only=True)

44it [00:54,  1.24s/it]

In [8]:
for i in tqdm(range(1000)):
    pass

100%|██████████| 1000/1000 [00:00<00:00, 3390706.55it/s]

In [14]:
n_df

,lat,lon,height_sta,dd,ff,precip,hu,td,t,psl
0,45.830,5.110,196.0,0.0,0.0,0.0,90.0,279.15,280.65,0.0
1,46.090,5.810,350.0,30.0,2.7,0.2,89.0,277.65,279.35,0.0
2,45.770,5.690,330.0,190.0,1.4,0.0,86.0,278.25,280.45,0.0
3,46.200,5.290,260.0,0.0,0.0,0.0,0.0,0.00,280.25,0.0
4,45.980,5.330,252.0,130.0,1.3,0.0,94.0,279.75,280.65,101760.0
...,...,...,...,...,...,...,...,...,...,...
455583,25804.679,3030.994,395808.0,140000.0,2408.9,0.0,43440.0,160421.55,163017.85,0.0
455584,26001.405,2863.129,32395.0,202840.0,6892.8,0.0,41159.0,161521.45,164545.45,60635780.0
455585,26086.221,3022.159,230888.0,144170.0,2191.5,0.0,39311.0,160578.75,164022.65,0.0
455586,25940.149,3235.377,492404.0,163660.0,1823.1,0.0,31813.0,158446.45,164006.55,0.0
455587,26114.493,2889.045,83049.0,65120.0,4597.4,0.0,44581.0,161580.95,163917.05,0.0